{% load static %}
{% load in %}
{% load common_tags %}

<div style='padding-top: 0px; font-size: 12px; white-space: nowrap; width:100%; overflow-y:hidden; display:inline-block;'>
    <table id="alignment_table">
        <thead>
            <tr>
                {% if checkbox %}
                <th></th>
                {% endif %}
                <th>Protein</th>
                <th>Domain</th>
                {% for segment, colnum in segments.items %}
                <th class="{{segment.category}}" colspan="{{ colnum }}" style='padding: 5px;'>{{ segment }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if checkbox %}
                <td><input type="checkbox" id="select-all"></td>
                {% endif %}
                <td></td>
                <td></td>
                {% for gn in gns %}
                <td class='residue' style='padding: 5px;'>{{ gn|short_gn }}</td>
                {% endfor %}
            </tr>
            {% if filter %}
            <tr>
                {% if checkbox %}
                <td></td>
                {% endif %}
                {% if filter %}
                <td>
                    <select class="form-select" aria-label="Default select example" id="protein_filter"></select>
                </td>
                <td>
                    <select class="form-select" aria-label="Default select example" id="domain_filter"></select>
                </td>
                {% else %}
                <td></td>
                <td></td>
                {% endif %}
                {% for gn in gns %}
                <td>
                    <select class="form-select" aria-label="Default select example" id="filter_{{ forloop.counter }}"></select>
                </td>
                {% endfor %}
            </tr>
            {% endif %}
            {% for domain_residues in residues %}
                {% if domain_residues.1.parent %}
                    {% if domain_residues.1.domain_type.slug == "N" %}
                    <tr class="structure data-row N">
                    {% else %}
                    <tr class="structure data-row C">
                    {% endif %}
                {% else %}
                    {% if domain_residues.1.slug == "N" %}
                    <tr class="data-row N">
                    {% else %}
                    <tr class="data-row C">
                    {% endif %}
                {% endif %}
                    {% if checkbox %}
                    <td><input type="checkbox" class="alt"></td>
                    {% endif %}
                    <td class="protein" style='padding: 5px;'>{{ domain_residues.0 }}</td>
                    <td class="domain" style='padding: 5px;'>{{ domain_residues.1 }}</td>
                    {% for res in domain_residues|slice:"2:" %}
                        {% if res.amino_acid %}
                        <td class='residue res-color-{{res.amino_acid}} res_{{ forloop.counter }}' title='{{res}}
{{res.amino_acid_three_letter}}'>{{ res.amino_acid }}</td>
                        {% else %}
                        <td class='residue res_{{ forloop.counter }}'>-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>