{% extends "./base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" crossorigin="anonymous">
{% endblock %}

{% block title %}SH2DB - Browse{% endblock %}

{% block current-navbar %}
<li><a href="/index">Home</a></li>
<li><a href="/search">Search</a></li>
<li class="active"><a href="/browse">Browse</a></li>
<li><a href="/charts">Charts</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	
	<table class="table" id="myTable">
	  <thead>
		<tr>
		  {% for header in headers %}
		  <th>{{ header }}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for protein in data %}
		<tr>
		  <td>{{ protein.family }}</td>
		  <td><a href="protein/{{ protein.name }}">{{ protein.name }}</a></td>
		  <td>{{ protein.species }}</td>
		  <td><a href="https://www.uniprot.org/uniprot/{{ protein.accession }}" target="_blank">{{ protein.accession }}</a></td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
	
	<br>
	
	</div>

 </div>
{% endblock %}

{% block scripts %}
<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script>
	$(document).ready( function () {
    $('#myTable').DataTable();
	} );
</script>
{% endblock %}
