{% extends "./navbar.html" %}

{% block title %}SH2db - FAQ{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	
    <p>Our research group has been established in 2013 by György M. Keserű on the basis of a preceding synthetic organic chemistry group. Since then we established national and international, government and industry founded research programs focusing on two major topics:</p>
    <ul>
        <li>fragment based approaches in the lead discovery of GPCR and kinase targets</li>
        <li>chemical process development for small molecule active pharmaceutical ingredients</li>
    </ul>

    <br>
	
	</div>

 </div>
{% endblock %}

{% block scripts %}
<script>
	document.getElementById("navbar.faq").classList.add('active');
</script>
{% endblock %}