{% extends "./navbar.html" %}
{% load static %}

{% block title %}SH2DB - a database for SH2 domain structures{% endblock %}


{% block content %}
<div class="row">
    <h2>SH2db, an information system for the SH2 domain</h2>
</div>
<!-- Left column -->
<div class="row">
	<div class="col-sm-12 col-md-6">
	
    <p>
        SH2 (Src Homology 2) domains are modular protein units that establish key protein-protein interactions and are therefore of high interest in 
        drug discovery, particularly for oncological indications. SH2 domains recognize phosphotyrosine (pY)-containing peptide sequences, often as a mechanism
         for dimer formation, and subsequently regulate a range of cellular processes.
    </p>
    <br>
    <br>
    <p>
        Read more about the general structural features of SH2 domains on the <a href="/about">About</a> page.
    </p>

    </div>

    <div class="col-sm-12 col-md-6">
        <img src="{% static 'home/images/sh2_session2.png' %}" alt="img" style="max-width: 100%"></img>
    </div>

</div>

<div class="row">
   <div class="col-sm-12 col-md-6">
    <br>
    <p>
        If you use SH2db in your work, please cite our primary paper: <a>placeholder</a>
    </p>

    <p>
    <a href="http://medchem.ttk.hu/" target="_blank">
        <img src="{% static 'home/images/medchem.png' %}" height="50" alt="img" style="display:inline;"></img>
    </a>
    <a href="http://www.ttk.hu/en/" target="_blank">
        <img src="{% static 'home/images/ttk.jpg' %}" height="50" alt="img" style="display:inline;"></img>
    </a>
    </p>

	</div>

 </div>

{% endblock %}

{% block scripts %}
<script>
	document.getElementById("navbar.index").classList.add('active');
</script>
{% endblock %}