{% extends "./navbar.html" %}
{% load static %}

{% block title %}SH2DB - {{ protein.name }} protein entry{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	
	<h2>{{ protein.name }}</h2>
	<br>
	<p>Recommended name: {{fullname}}</p>
	<p>Gene name: {{protein.name}}</p>
	<p>No. of SH2 domains: {{ domains | length }}</p>
	<p>Uniprot: <a href="https://www.uniprot.org/uniprot/{{ protein.accession }}" target="_blank">{{ protein.accession }}</a></p>
	
	{% if domains|length > 1 %}
		{% for domain in domains %}
		<h3>{{ domain.domain_type }} SH2 domain</h3>
		<p>Sequence: {{ domain.sequence }}</p>
		{% for structuredomain in structuredomains %}
			{% if structuredomain.domain == domain %}
				<p><a href="/structure/{{ structuredomain.domain.name }}">{{ structuredomain.domain.name }}</a></p>
			{% endif %}
		{% endfor %}
		{% endfor %}
	{% else %}
		<h3>SH2 domain</h3>
		<p>Sequence: {{ domains.0.sequence }}</p>
	{% endif %}
	
	
	

	</div>

 </div>
{% endblock %}