{% extends "./navbar.html" %}
{% load static %}

{% block title %}SH2DB - Search{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/alignment.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/toggle_switch.css' %}" type="text/css" />
<meta charset="utf-8">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div style='display:inline; vertical-align:middle;'>
            	<label class="switch">
                    <input type="checkbox" class="left_position" id="structure_toggle_button">
                    <span class="slider round"></span>
                </label>
            </div>
            <div style='display:inline;'>Structures</div>
            <div style='display:inline; margin-left: 10px;'>
                <button  type="button" class="btn btn-primary" id="alignment_download_button"><span class="glyphicon glyphicon-download-alt"></span> Alignment</button>
            </div>
            <div style='display:inline; margin-left: 10px;'>
                <button  type="button" class="btn btn-primary" id="structure_download_button"><span class="glyphicon glyphicon-download-alt"></span> Structures</button>
            </div>
            <div style='display:inline; margin-left: 10px;'>
                <button  type="button" class="btn btn-primary" id="pymol_download_button"><span class="glyphicon glyphicon-download-alt"></span> Pymol session</button>
            </div>
        </div>
    </div>
</div>
       

{% include "alignment_table.html" with segments=segments gns=gns residues=residues checkbox=checkbox filter=filter %}



 
{% endblock %}

{% block scripts %}
<script src="{% static 'home/js/table_functions.js' %}"></script>
<script>
    document.getElementById("navbar.search").classList.add('active');
    $("#alignment_table").hide();
    $(document).ready(function() {
        // $("#alignment_table").parent().addClass("escape-container");
        $(".structure").addClass("hidden");
        table_filter();
        checkbox_selection();
        alignment_download();
        structure_download();
        pymol_download_from_search();
        $("#structure_toggle_button").click(function() {
            $('body').css('cursor','wait');
            
            if ($(this).hasClass("left_position")) {
                $("tbody").children(".child").removeClass("hidden")
                $(this).addClass("right_position");
                $(this).removeClass("left_position");
            }
            else if ($(this).hasClass("right_position")) {
                $("tbody").children(".child").addClass("hidden")
                $(this).addClass("left_position");
                $(this).removeClass("right_position");
            }
            run_filter();
            $('body').css('cursor','auto');
        });
        $("#alignment_table").show();

    });
</script>
{% endblock %}