{% extends "./navbar.html" %}
{% load static %}
{% load remove_indextag %}

{% block title %}SH2DB - {{ structure.pdb_code }} structure entry{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
	
	<h2>PDB structure <a href="https://www.rcsb.org/structure/{{ structure.pdb_code }}" target="_blank">{{ structure.pdb_code }}</a>
        {% if chain %}
            - chain {{ chain.chain_ID }}
        {% endif %}
        {% if structuredomain %}
            - {{ structuredomain.domain.domain_type.name }} SH2 domain
        {% endif %}
    </h2>
	<br>
    <p>Protein: <a href="/protein/{{protein.name}}">{{protein.name}}</a></p>
    <p>Published: {{ structure.publication_date }}</p>
    <p>Method: {{ structure.structure_type.name }}</p>

    {% if structure.resolution != None %}
        <p>Resolution: {{ structure.resolution }}</p>
    {% endif %}

    {% if structure.publication.reference != None %}
        <p>Publication: 
            <a href="{{ structure.publication.reference.web_resource.url | remove_indextag }}{{ structure.publication.reference.index }}" target="_blank">
                {{ structure.publication.title }}
            </a>
        </p>
    {% else %}
        <p>Publication: 
            {{ structure.publication.title }} (to be published)
        </p>
    {% endif %}

	
    <h4>Chains</h4>

    {% for chain in chains %}
	    <p>No. of SH2 domains: {{ domains | length }}</p>
	    <p>Uniprot: <a href="https://www.uniprot.org/uniprot/{{ protein.accession }}" target="_blank">{{ protein.accession }}</a></p>
    {% endfor %}
    </div>

</div>

{% block chain_content %}{% endblock %}

{% endblock %}