{% extends "./navbar.html" %}
{% load static %}

{% block title %}SH2db - Charts{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12" id="chartArea">


      <label for="select_x">X axis:</label>
      <select name="select_x" id="select_x">
        <option value="family" selected>Functional category</option>
        <option value="year">Year</option>
        <option value="species">Species</option>
        <option value="no_sh2">No. of SH2 domains in entry</option>
      </select>

      <label for="select_y">Y axis:</label>
      <select name="select_y" id="select_y">
        <option value="protein" selected>Proteins</option>
        <option value="structure">PDB entries</option>
        <option value="structuredomain">SH2 domain structures</option>
        <option value="publication">Publications</option>
      </select>

      <div id="grouped_bars"></div>

    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
	document.getElementById("navbar.charts").classList.add('active');
</script>

<script src="{% static 'home/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'home/js/d3.v7.js' %}"></script>
<script src="{% static 'home/js/barchart.js' %}"></script>

<script>
    // set the dimensions and margins of the graph

    const margin = {top: 10, right: 30, bottom: 20, left: 50},
        width = document.getElementById('chartArea').clientWidth - margin.left - margin.right,
        height = width / 2.0;

    $(window).bind('load resize', function() {

      const margin = {top: 10, right: 30, bottom: 20, left: 50},
        width = document.getElementById('chartArea').clientWidth - margin.left - margin.right,
        height = width / 2.0;
      const select_x = $('#select_x').val();
      const select_y = $('#select_y').val();
      const url_mask = "{% url 'get_csv' 123 456 %}".replace(/123/, select_x.toString() )
                                                    .replace(/456/, select_y.toString() );
      barchart(url_mask, width, height);

      //$('#proba').html( $('#select_x').val() + $('#select_y').val() + document.getElementById('chartArea').clientWidth + url_mask); <p id="proba"></p>
    
    });
    
    $('#select_x').change( function() {
      const select_x = $('#select_x').val();
      const select_y = $('#select_y').val();
      const url_mask = "{% url 'get_csv' 123 456 %}".replace(/123/, select_x.toString() )
                                                    .replace(/456/, select_y.toString() );
      barchart(url_mask, width, height);

      //$('#proba').html( $('#select_x').val() + $('#select_y').val() + document.getElementById('chartArea').clientWidth + url_mask);
    
    });

    $('#select_y').change( function() {

      //if ( ( $("#select_x").val()==="no_sh2" & $("#select_x").val()==="structuredomain" ) ||
      //  ( $("#select_x").val()==="no_sh2" & $("#select_x").val()==="publication" ) ){
      //      showAlert("Chart not available", "danger");
      //  }

      const select_x = $('#select_x').val();
      const select_y = $('#select_y').val();
      const url_mask = "{% url 'get_csv' 123 456 %}".replace(/123/, select_x.toString() )
                                                    .replace(/456/, select_y.toString() );
      barchart(url_mask, width, height);

      //$('#proba').html( $('#select_x').val() + $('#select_y').val() + document.getElementById('chartArea').clientWidth + url_mask);
    
    });      

    </script>
{% endblock %}
