{% extends "./base.html" %}
{% load static %}

{% block title %}SH2db - Entry not found{% endblock %}

{% block current-navbar %}
<li><a href="/index">Home</a></li>
<li><a href="/search">Search</a></li>
<li><a href="/browse">Browse</a></li>
<li><a href="/charts">Charts</a></li>
<li><a href="/faq">FAQ</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	
	<h2>Entry not found</h2>
	<br>
	<p>It seems that something went wrong. You can try going back or starting over.</p>

	</div>

 </div>
{% endblock %}