{% extends "./navbar.html" %}

{% load static %}
{% load remove_indextag %}

{% block title %}
    {% if structure.pdb_code %}
        SH2db - {{ structure.pdb_code }} structure entry
    {% else %}
        SH2db - {{ protein.accession }} AlphaFold entry
    {% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/alignment.css' %}" type="text/css" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
{% endblock %}

{% block content %}
<style>
.inline {display:inline;}
.graphcolor {
              display:inline-block;
              padding: 1px 5px;
              text-align: center;
              margin-left: 20px;
              vertical-align: middle;
              width: 20px;
              height: 20px;
              margin-top: 5px;}
</style>
<div class="row">
	<div class="col-md-6">
	
    {% if not structure.pdb_code %}
    <h2>AlphaFold model {{ structure.protein.accession }}-AF
    {% else %}
	<h2>PDB structure <a href="https://www.rcsb.org/structure/{{ structure.pdb_code }}" target="_blank">{{ structure.pdb_code }}</a>
    {% endif %}
        {% if chain %}
            - chain {{ chain.chain_ID }}
        {% endif %}
        {% if structuredomain %}
            - {{ structuredomain.domain.domain_type.name }} SH2 domain
        {% endif %}
    </h2>
	<br>
    <p>Protein: <a href="/protein/{{protein.name}}">{{protein.name}}</a></p>
    <p>Published: {{ structure.publication_date }}</p>
    <p>Method: {{ structure.structure_type.name }}</p>

    {% if structure.resolution != None %}
        <p>Resolution: {{ structure.resolution }}</p>
    {% endif %}

    {% if structure.publication.reference != None %}
        <p>Publication: 
            <a href="{{ structure.publication.reference.web_resource.url | remove_indextag }}{{ structure.publication.reference.index }}" target="_blank">
                {{ structure.publication.title }}
            </a>
        </p>
    {% else %}
        {% if structure.pdb_code %}
        <p>Publication: 
            {{ structure.publication.title }} (to be published)
        </p>
        {% endif %}
    {% endif %}
    
    <h4>Domains: 
    {% for domain in parent_domains %}
        {{ domain.domain_type.slug }}
    {% endfor %}
    </h4>

	{% if chains %}
        <h4>Chains: 
        {% for chain in chains %}
	        {{ chain.chain_ID }}
        {% endfor %}
        </h4>
    {% endif %}

    </div>

    
    <div class="col-md-6">

        <div id="viewport" style="width:500px; height:400px;"></div>
        <div style="width:500px; background-color:#eaeaea; border-radius: 0px 0px 5px 5px;">
            <p style="padding: 2px 0px 2px 5px; font-size: 10px;"><button id="fullscreen">Full Screen</button><a href="https://github.com/arose/ngl" target='_blank'> NGL</a> is a WebGL based 3D viewer powered by <a href="https://mmtf.rcsb.org" target='_blank'>MMTF</a>.</p>
        </div>
    </div>
    <!-- {% if alphafold %}
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div><h4>Model confidence <span class="glyphicon glyphicon-info-sign" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="below" data-content="<b>Interpretation of AlphaFold models</b><br>The pLDDT score from Alphafold estimates the confidence of the placement of an individual residue in relation to its neighboring residues within a 15Å radius. The GPCRdb provides full-length models for nearly all human GPCRs, including receptors that comprise multiple domains. Therefore, one should take into account that, when a model consists of multiple domains, the relative placement of the domains with respect to each other can be erroneous even when the pLDDT score for a given domain is high."></span></h4></div>
        <div style='width: 50%; display:table; position:relative;'>

            <div style='display: table-cell;'>

              <div class="graphcolor" style="background-color: blue;"></div>
              <span style="margin-left: 5px; vertical-align: middle; padding-top: 5px;">Very high (pLDDT > 90)</span>
              <br>
              <div class="graphcolor" style="background-color: lightblue; "></div>
              <span style="margin-left: 5px; vertical-align: middle;">Confident (90 > pLDDT > 70)</span>
              <br>
              <div class="graphcolor" style="background-color: yellow; "></div>
              <span style="margin-left: 5px; vertical-align: middle;">Low (70 > pLDDT > 50)</span>
              <br>
              <div class="graphcolor" style="background-color: orange;"></div>
              <span style="margin-left: 5px; vertical-align: middle;">Very low (pLDDT < 50)</span>
              <br>
              <div class="graphcolor" style="background-color: red;"></div>
              <span style="margin-left: 5px; vertical-align: middle;">Disordered</span>
              <br>
            </div>
        </div>
    </div>
    {% endif %} -->
</div>
<div class="row">
    <div class="col-md-10">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div style='display:inline; margin-left: 10px;'>
                <button  type="button" class="btn btn-primary" id="alignment_download_button"><span class="glyphicon glyphicon-download-alt"></span> Alignment</button>
            </div>
            <div style='display:inline; margin-left: 10px;'>
                <button  type="button" class="btn btn-primary" id="structure_download_button"><span class="glyphicon glyphicon-download-alt"></span> Structures</button>
            </div>
            <div style='display:inline; margin-left: 10px;'>
                <button  type="button" class="btn btn-primary" id="pymol_download_button"><span class="glyphicon glyphicon-download-alt"></span> Pymol session</button>
            </div>
            <div style='display:inline; margin-left: 10px;'>
                <button  type="button" class="btn btn-primary" id="sheinerman_button">Select Sheinerman residues</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style='padding-top: 0px; font-size: 12px; white-space: nowrap; width:100%; overflow-y:hidden; display:inline-block; width:100%;'>
        {% include "alignment_table.html" with segments=segments gns=gns residues=residues checkbox=checkbox %}
    </div>
</div>

{% block addon_js %}
    <script src="{% static 'home/js/ngl.js' %}"></script>
    <script src="{% static 'home/js/table_functions.js' %}"></script>
    <script>
        $(document).ready(function() {
            // NGL viewer
            stage = new NGL.Stage("viewport", { backgroundColor: "white" } );
            var stringBlob = new Blob( [ `'{{structuredomains.0.pdbdata.pdb}}'` ], { type: 'text/plain'} );
            var file = new File([stringBlob], "something.pdb");
            
            // if ('{{ alphafold }}'!=='False') {
            //     var color_residues = JSON.parse('{{color_residues|safe}}');
            //     // color_residues.push(["darkorchid","*"])
            //     var schemeId = NGL.ColorMakerRegistry.addSelectionScheme( color_residues );
            //     stage.loadFile( file, { defaultRepresentation: true } ).then( function( o ){
            //         o.addRepresentation( "cartoon", {color: schemeId} );  // pass schemeId here ,{ color: schemeId }
            //         o.centerView();

            //     });
            // } else {
            stage.loadFile( file, { defaultRepresentation: true } );
            // }
            $( "#fullscreen" ).click(function() {
                stage.toggleFullscreen();
            });
            
            // Uncheck all checkboxes on reload
            $(':checkbox').prop('checked',false);

            checkbox_selection();
            alignment_download();
            structure_download();
            pymol_download_from_search();
            sheinerman_button();
            if('{{structure.pdb_code}}'!=="None") {
                mutation_symbols("#alignment_table", "N");
                mutation_symbols("#alignment_table", "C");
            }
        });
    </script>
{% endblock %}

{% block chain_content %}{% endblock %}

{% endblock %}

